@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    background-color: #1F1F1F;
}

.color1{
    font-family: 'Satisfy';
    color: #F85EDC;
    font-size: xx-large;
}

.color2{
    font-family: 'Satisfy';
    color: #3BDCE3;
    font-size: xx-large;
}

.color3{
    font-family: 'Satisfy';
    color: #1CE972;
    font-size: xx-large;
}

.button {
    background-image: linear-gradient(to bottom right, #F85EDC, #3BDCE3, #1CE972);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 90px;
    font-family: 'Satisfy';
}